.edit-chart-main {
  flex-grow: 1;
  padding: var(--spacing-lg);
  overflow: auto;
  position: relative;
  /* Needed for positioning status indicators correctly */
}

.edit-chart-main> :not(div) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}