import React from "react";

interface Props {
  chartData: any[];
  color: string;
}

const {{properCase name}}Chart = ({ chartData, color }: Props) => {
  return (
    <div>
      <h3>{{properCase name}} Chart</h3>
      <pre>{JSON.stringify(chartData, null, 2)}</pre>
    </div>
  );
};

export default {{properCase name}}Chart;
