import React from "react";
import type { {{pascalCase name}}Props } from "./types";

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  const { data, headerText } = props;
  return (
    <div>
      <h3>{headerText}</h3>
      <pre>{JSON.stringify(data, null, 2)}</pre>
    </div>
  );
};

export default {{pascalCase name}};
