.control-panel-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
}

.dark .control-panel-title {
  color: var(--text-dark-secondary);
}

.control-panel-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}