.control-panel {
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.dark .control-panel {
    background-color: transparent;
    box-shadow: none;
}

.control-panel-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
}

.dark .control-panel-title {
    color: var(--text-dark-secondary);
}

.control-panel-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
