      .layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        /* Prevents the whole page from scrolling */
      }

      .content {
        flex: 1;
        overflow-y: auto;
        /* Allows only the content area to scroll if it overflows */
        padding: var(--spacing-xl);
        position: relative;
        background-color: var(--background-light);
        display: flex;
        flex-direction: column;
      }

      .content.no-padding {
        padding: 0;
      }

      .dark .content {
        background-color: var(--background-dark);
        color: var(--text-dark);
      }

      /* Ensures Header and Footer have a fixed height and don't shrink */
      .layout>header,
      .layout>footer {
        flex-shrink: 0;
      }